{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron">
  <h5 class="display-5">Interface d'Administration </h5>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{path('home')}}"  role="button">Accueil du site</a>
  </p>
</div>
{% endblock %}


