{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
       <article>
            <h2> FORMULAIRE D'ENREGISTREMENT DE NOUVEL ARTICLE </h2>
            <div class = "metadata"> 
                <p>Ecrit le:  21/10/2019 </p>
                <p> Dans la Categorie: </p>
            </div>         
       </article>      
</div>
<div class="container">


{{ form(formCreatArt) }}
</div>


{% endblock %}